@model MSSWebUI.Models.ViewModel.EmployeeAuthDTO
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card">
    <div class="card-header">
        <h5>Bilgi Ekranı</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card ribbon-wrapper">
                    <div class="card-body">
                        <div class="ribbon ribbon-warning ribbon-space-bottom">Aktif Kullanıcı</div>
                        <label> <h4>@Model.Employee.EmployeeName @Model.Employee.EmployeeSurname - @Model.Authority.Comment</h4></label>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card ribbon-wrapper">
                    <div class="card-body">
                        <div class="ribbon ribbon-primary ribbon-space-bottom">Şube Bilgisi</div>


                        <label> <h4>Aktif Şube: @Model.ShopList.Count</h4></label>


                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card ribbon-wrapper">
                    <div class="card-body">
                        <div class="ribbon ribbon-secondary ribbon-space-bottom">Personel Bilgisi</div>
                        <label> <h4>Aktif Personel: @Model.EmployeeList.Count</h4></label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card ribbon-wrapper">
                    <div class="card-body">
                        <div class="ribbon ribbon-info ribbon-space-bottom">Kampanya</div>
                        <label> <h4>Aktif Kampanya: @Model.CampaignActiveList.Where(x => DateTime.Now >= x.StartDate && DateTime.Now <= x.EndDate).Count()</h4></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            @{

                foreach (var shop in Model.ShopList)
                {
                    <div class="col-sm-12 col-md-6 col-lg-@(12/Model.ShopList.Where(x=>x.Status==true).Count())">
                        <div class="card ribbon-wrapper">
                            <div class="card-body">

                                <div class="ribbon ribbon-danger ribbon-space-bottom"> @shop.ShopName-@shop.Locasion</div>

                                @{ var girdi = Model.VisitorEventList.Where(x => x.Pozition.Contains("GIRDI") && x.EventDate.ToShortDateString() == DateTime.Now.ToShortDateString() && x.ShopId == shop.ShopId).Count();
                                    var cikti = Model.VisitorEventList.Where(x => x.Pozition.Contains("CIKTI") && x.EventDate.ToShortDateString() == DateTime.Now.ToShortDateString() && x.ShopId == shop.ShopId).Count();
                                    var giris = Model.VisitorEventList.Where(x => x.Pozition.Contains("GIRIS") && x.EventDate.ToShortDateString() == DateTime.Now.ToShortDateString() && x.ShopId == shop.ShopId).Count();
                                    var cikis = Model.VisitorEventList.Where(x => x.Pozition.Contains("CIKIS") && x.EventDate.ToShortDateString() == DateTime.Now.ToShortDateString() && x.ShopId == shop.ShopId).Count();
                                    var toplamMusteri = (girdi - giris);
                                    var icerdekiMusteri = (toplamMusteri - (cikti - cikis));
                                    var maksimumciro = Model.FinanceList.Where(x => x.ShopId == shop.ShopId).Max(p => p.DailySalesEarning);

                                    <label>

                                        <p class="h5 txt-secondary">Anlık Toplam Müşteri:<bold> @toplamMusteri</bold></p>
                                        <p class="h5 txt-secondary">Anlık İçerdeki Müşteri:<bold> @icerdekiMusteri</bold></p>
                                        <p class="h5 txt-danger">Yapılan En Yüksek Ciro:<bold> @maksimumciro TL.</bold></p>
                                        <p class="h5 txt-primary">Açılış:<bold> @shop.Opening</bold></p>
                                        <p class="h5 txt-primary">Kapanış:<bold> @shop.Closing</bold></p>

                                    </label><br />
                                    <a class="btn btn-primary"  href="/Chart/index/@shop.ShopId"><i class="icofont icofont-chart-histogram"></i> İstatistik Getir</a>


                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        
        
    </div>
</div>
